html{
	background-color: peachpuff;
    	margin-bottom: 100px;
    	margin-right: 200px;
    	margin-left: 200px;
	background: #777 url(http://images4.fanpop.com/image/photos/24100000/Colored-pencils-pencils-24173416-2560-1600.jpg) fixed center; 	
	font-family: Trebuchet MS;	
	}
	nav a:link, a:visited{
	background-color: sienna;
	padding: 10px;
	color: black;
	box-shadow: 0px 0px 10px black;
	}	
	article{
	border: 3px solid sienna;
	margin: 5px;
	box-shadow: 0px 0px 10px black;
	}		
	header{
	text-align: center;
	}	
	h1{
	background-color: peru;
	padding: 10px;
	font-size: 40px;
	box-shadow: 0px 0px 10px black;
	}
	h2{
	margin-left: 20px;
	}
	h3{
	margin-left: 30px;
	text-decoration: underline;
	font-size: 25px;
	}
	ul{
	margin-left: 20px;
	}
	main p{
	margin-left: 20px;
	text-decoration: underline;
	text-align: right;
	margin-right: 30px;
	}
	main img{
	display: block;
	margin: auto;
	}
	article img{
	margin-left: 20px;
	border: 3px solid sienna;
	}
	footer{
	margin-top: 40px;
	text-align: center;
	background-color: peru;
	padding: 10px;
	box-shadow: 0px 0px 10px black;	
	}
